# Node modules
node_modules
npm-debug.log

# Git files
.git
.gitignore

# Local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Build tools and config files
.github
.vscode

# Windows-specific files not needed in container
node_modules/node-windows
install-service.js 